<div class="jw-header jw-header-fixed">
  <div class="jw-header-container">
    <div class="jw-header-nav">
      <jw-button-menu></jw-button-menu>
    </div>
    <div class="jw-header-main">
      <img class="jw-header-logo" ui-sref="root.dashboard()" ng-src="{{ ::vm.config.assets.banner }}" alt="logo"/>
    </div>
    <div class="jw-header-login">
      <div ng-if="vm.loggedIn">
      <h1>Hello {{ vm.afAuth.authState.displayName }}!</h1>
      <button ng-click="vm.logoutButtonClickHandler()">Logout</button>
    </div>
    <div ng-if="!vm.loggedIn">
      <p>Please login.</p>
      <button ng-click="vm.loginButtonClickHandler()">Login with Google</button>
    </div>
    </div>
    <div class="jw-header-nav">
      <jw-search ng-if="vm.config.searchPlaylist"></jw-search>
    </div>
  </div>
</div>
